                @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                body {
                    background-image: url("https://www.simbrella.com/site/assets/files/1040/cover.jpg");
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background-repeat: no-repeat;
                    background-size: cover;
                    opacity: 0.7;
                    background-position: 0 15%;
                    position: fixed;
                }
                
                .image {
                    background-image: url("https://www.simbrella.com/site/assets/files/1040/cover.jpg");
                }
                
                nav {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: 8rem;
                    background: transparent;
                }
                
                .nav-links {
                    display: flex;
                    background: transparent;
                    justify-content: space-around;
                    width: 25%;
                }
                
                .nav-links li {
                    list-style: none;
                    z-index: 9999;
                    color: white;
                    transition: .1s linear;
                }
                
                .nav-links a {
                    color: transparent;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 17px;
                    z-index: 9999;
                    color: white;
                    transition: .1s linear all;
                }
                
                .nav-links a:hover {
                    color: #EBA85E;
                }
                
                .text {
                    width: 100%;
                    max-width: 1300px;
                    margin: 0 auto;
                    padding: 0 20px;
                    color: #fff;
                    position: relative;
                }
                
                body::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.2);
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                
                .text h1 {
                    font-size: 48px;
                    line-height: 1.29;
                    font-weight: 700;
                    font-family: 'Poppins';
                    z-index: 9999;
                }
                
                .paragraph {
                    font-family: 'Poppins';
                    z-index: 9999;
                    color: #ffff;
                }